streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
tiktoken
python-dotenv
fastapi
uvicorn
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
pymupdf